<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountRegister</servlet-name>
        <servlet-class>servlets.AccountRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountLogin</servlet-name>
        <servlet-class>servlets.AccountLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountLogout</servlet-name>
        <servlet-class>servlets.AccountLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountConfirm</servlet-name>
        <servlet-class>servlets.AccountConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAbout</servlet-name>
        <servlet-class>servlets.UserAbout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEdit</servlet-name>
        <servlet-class>servlets.UserEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountRegister</servlet-name>
        <url-pattern>/account/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountLogin</servlet-name>
        <url-pattern>/account/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountLogout</servlet-name>
        <url-pattern>/account/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountConfirm</servlet-name>
        <url-pattern>/account/confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAbout</servlet-name>
        <url-pattern>/user/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEdit</servlet-name>
        <url-pattern>/user/edit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
